<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Accueil
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-content>
    <ion-card>
      <ion-card-header>
        <ion-img src="assets/1.avif"></ion-img>
        <ion-card-subtitle>
          Pense-bête pour voyageur étourdi
        </ion-card-subtitle>
        <ion-card-title>
          TravelCheck
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>TravelCheck est une app qui vous aidera à préparer vos affaires</p>
        <a routerLink="/tabs" routerDirection="forward">Voir les voyages prévus</a>
      </ion-card-content>
    </ion-card>
  </ion-content>
</ion-content>
